.content ul li{margin-top: 15px;}
.cont-price{padding-right: 50px;}
.content_top{
	border-bottom: 1px solid #e9e9f4;
	margin-bottom: 40px;
}
.price-titl{
	width: 165px;
	float: left;
    text-align: center;
    font-size: 15px;
    height: 48px;
    line-height: 48px;
    color: #35313f;
    cursor: pointer;
    background-color: #f4f4f5;
    border: 1px solid #e9e9f4;
    border-bottom: none;
}
.top-first{
	width: 120px;
    border-right: none;
}
.top-sec{
    border-right: none;
}
.choose{
	border: none;
	color: #fff;
	padding-bottom:1px;
	background: #524ae7;
}
.ul-mid{margin-bottom: 10px;}
.invite_left,.div_left{width:130px;float:left;}
.invite_left span{float:right;line-height: 20px;}
.invite_right,.div_right{float:left;margin-left: 15px;color:#35313f;width:750px;}
.invite_right-sp1{margin-right: 20px;}
.invite_right-sp2{margin-left: 20px;margin-right: 15px;}
.text-price>p{color: #727689;}
.text-price{
	width: 680px;
    padding: 5px;
    border: 1px solid #ebebf5;
}
.price-qiye{width: 380px;height: 200px;}
.cont-price-bottm{
    /*width: 560px;*/
    margin-bottom: 50px;
    padding-top: 15px;
    padding-left: 5px;
}
.dowload-tip>a{
   	display: inline-block;
    margin-left: 20px;
}
.fengxian{padding-left: 30px;position: relative;cursor: pointer;text-decoration: underline;}

.pic-fengxian{background: url(../../img/top-nav.png) no-repeat -6px -45px;width:28px;height:28px;position: absolute;top: -3px;left: 0;}
.fengxian:hover{color:#35313f;text-decoration: underline;}
.fengxian:hover .pic-fengxian{background-position-x: -46px;}
.download{padding-left: 30px;position:relative;cursor: pointer;}
.download .pic{background: url(../../img/background_zhaozhao.png) no-repeat -8px -447px;width:40px;height:28px;position:absolute;top:-3px;left:0;}
.download:hover{color:#35313f;}
.download:hover .pic{background: url(../../img/background_zhaozhao.png) no-repeat -48px -447px;}
.content-bottom{padding-left: 105px;margin-bottom: 80px;}
.content-bottom>span{color: #35313f;}
.btn{
	behavior: url(../../js/PIE.htc);
	margin-left: 50px;
    width: 133px;
    height: 35px;
    color: #fff;
    background: #524ae7;
    border-radius: 3px;
    font-size: 15px;
}
.price-detail{margin-left: 328px;border:0;}
.price-detail:hover ,.sur-ok:hover{background-color: #4037ed;color:#fff;}

/*起保后付费*/
.price-key{position: relative;top: 4px;float: right;left: -3px;}
input::-webkit-input-placeholder{color:#35313f;}
.inpt-num{
	width: 160px;
    height: 25px;
    padding-left: 5px;
    border: 1px solid #ebebf5;
}
.price-day{
	width: 40px;
    height: 25px;
    padding-left: 5px;
    border: 1px solid #ebebf5;
}
.price-inpt{
	position: relative;
    top: -5px;
}
.price-insur{
	padding: 20px 0 20px 23px;
    color: #35313f;
}
.price-no-bottm{margin-top: 0;width: 620px;padding-left: 10px;}
.pay-kind{
	width: 12px;
    top: 2px;
    left: -4px;
    position: relative;
}
.radio-left{color: #727689;}
.radio-right{color: #727689;}
.radio-right>input, .radio-right-inpt2{margin-left: 20px;}
.pay-num{float: left;padding-right: 45px;}
.pay-time{
	float: right;
    position: relative;
    top: -13px;
    right: 13px;
}
.pay-time input{
	width: 135px;
    height: 25px;
    padding-left: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #ebebf5;
}
.date-pic{
	position: absolute;
    top: 13px;
    left: 140px;
}
.control-pay{
	position: relative;
    top: 7px;
    right: -7px;
}
.text-max{
	position: relative;
    top: 2px;
    left: 600px;
    color: #727689;
}
.text-max span{color: red;font-weight: bold;}
.dBody {

    width:100%;
    overflow:auto;
    top:84px;
    position:absolute;
    /*z-index:10;*/
    bottom:0px;
}
/*见费出单*/
.pay-time-yes{top: -5px;left: -35px;}
.date-pic-yes{top: 5px;}

.deal{margin-left: 30px;padding-left: 0;}
.enterprise_left {width: 130px;}
.methods{padding-top: 4px;margin: 0 0 10px 145px; color: #35313f;}
.deal .enterprise_right span {margin-left: 5px;}
.deal_content>.deal_content_pay{color: #727689;margin-left: 52px;}
/*.deal_content{line-height: 73px;}*/
.deal_content,.deal_content_other{width: 660px;margin-left: 4px;display: block;position:relative;padding: 20px 0;margin-top: 18px;}
.other_span{width: 120px;color: #727689;margin-left: 9px;}
.add_img1,.add_img2{margin-right: 0;}
#dealcontentinpt{margin-bottom: 3px;cursor: pointer;}
.end{width: 820px;}
.duan_input{background: url(../../img/data.png) no-repeat right center;}

/*项目详情*/
.text-div{
	width: 440px;
    height: 213px;
    padding: 10px 5px 12px 4px;
    position: relative;
    border: 1px solid #ebebf5;
}
.term-other{margin: 25px 0 25px 145px;}
.text-div-p1{margin-left: 6px;color: #524ae7;}
.text-div-p1>span{color:#35313f;font-size: 12px;}
.text-div-p2{
	position: absolute;
	top: 10px;
    right: 21px;
    color: #727689;
}
.text-div-p2>span{color:#35313f;}
.div_left{text-align: right;color: #727689;}
.div_right{	width:200px;margin-left: 35px;}
.item-term{margin-left: 12px;margin-top: 40px;}
.item-term-name{
	width: 100px;
    color: #35313f;
    margin-left: 195px;
    padding-top: 14px;
    padding-bottom: 12px;
}
.invite_right-text>p{width: 450px;margin-bottom: 5px;}
#special-text{margin-top: 10px;}
.dowload_item{padding-left: 32px;margin-right:30px;width:120px;}
.attachment-cont{margin-top: 40px;padding-bottom: 260px;}
.attachment{color: #35313f;font-size: 22px;padding-bottom: 7px;margin-bottom: 30px;border-bottom: 1px solid #e9e9f4;}

/*企业信息成交说明*/
.deal-ul{
	margin-top: 28px;
    padding: 42px 0 80px 5px;
    border-top: 1px solid #e9e9f4;
}
.pay-plan{
	width: 480px;
	margin-bottom: 80px;
	background-color: #f4f4f5;
	border: 1px solid #e9e9f4;
}
.pay-plan>p{margin: 6px 0 15px 15px;}
.pay-plan-li{position: relative;}
.pay-plan-times{margin-right: 65px;margin-bottom:15px}
.pay-plan-detail{position: absolute;left: 65px;margin-left: 50px;}
#pay-yes-times{color: #35313f;margin-left: 30px;padding-bottom: 6px;}
.hide{display: none;}
.content ul .li-third{margin-top: 15px;}

.content select,.content input[type="text"],.content input[type="radio"]{margin: 0;padding: 4px 10px;}
input[name='price_min_share']{height:23px!important}
input[name='price_max_share']{height:23px!important}
.invite_right .inpt-num{height:23px}
.invite_right .price-day{height:23px}
#dealcontentinpt{width:150px;height:22px;background:#fff url(../../img/data.png) no-repeat right center;}
.tell{position:absolute;top:3px;left:260px;display: none;}
.deal_content_other .payTerm{height:22px;}
.deal_content_other .duan_input{height:22px;}
.methods input {position: relative;top: -1px;margin-right: 5px;}
.deal_content_other .tell1{position:absolute;top:3px;left:131px;display: none;}
.deal_content_other .tell2{position:absolute;top:3px;left:340px;display: none;}


/*渠道统计-头部*/
.head {
	height: 100px;
	padding: 0 50px;
	background-color: #f5e8e8;
}
.head_logo {
	float: left;
	width: 20%;
	height: 100px;
}
.head_mid {
	width: 70%;
    float: left;
    text-align: center;
    line-height: 100px;
}
.head_right {
    float: right;
    width: 10%;
    line-height: 25px;
    text-align: right;
    margin-top: 20px;
}

.cont-biao{
	padding-top: 0;
}

/*.end .nextss{float:right;display:inline-block;line-height: 38px;cursor: pointer;}
.all_fix .nexts{padding: 0;float:right;line-height: 38px;cursor: pointer;}*/
/*弹框*/
.ok_fix_top{margin-bottom: 20px;}
.all_top{text-align: center;padding-left: 0px;}
.all_top p{display:inline-block;}
.all_top img{position:relative;top:7px;}
.you-price{margin-top: 20px;}
.blue{color:#524ae7;font-size: 20px;}

.zhizhao_pic {display: none;width: 502px;height: 710px;background: #fff;position: absolute;top: 50%;left: 50%;margin-left: -251px;margin-top: -355px;}
.zhizhao_pic .mid_pic {
    width: 100%;
    height: 100%;
}
.conmonInpt {width: 100px;}


.dowload-tip img {width: 225px;height: 168px;display:block;cursor: pointer;}

/*确认报价弹框修改*/
.sur_fix{background: #fff;display:block;position:absolute;width:560px;padding:0 50px;left:50%;top:50%;margin-top: -250px;margin-left: -330px;}
.sur-title{font-size: 18px;line-height: 30px;color:#524ae7;margin-top: 20px;}
.sur-cont-li{margin-top: 13px;}
.sur-cont-left{float:left;line-height: 20px;width:102px;height:20px;margin-right: 10px;text-align: center;}
.sur-cont-right{float:left;line-height: 20px;width:447px;color:#35313f;position:relative;}
.over-tit{max-height:160px;overflow: auto;border:1px solid #e9e9f4;padding: 5px 10px;box-sizing: border-box;}
.over-tit p{margin-bottom: 5px;}
.red_money{color:#e5423d;}
.blue-p{color:#727689;}
.red{color:red;}
.sur-cont-right input{margin-right: 5px;position:relative;top:-3px;}
.sur-ok{cursor: pointer;height:40px;width:100px;float:right;line-height: 40px;font-size: 16px;color:#fff;background: #524ae7;text-align: center;border-radius: 3px;margin-bottom: 20px;}
.sur-cont-right label{color:#727689;}
.sur-cont-right .Validform_checktip{display:none;position:absolute;top:20px;}

.pro-name{display:inline-block;width:80px;text-align: right;margin-top: 5px;}


.invite_rightTips {margin-left: 40px;color: #727689;}
