.container {
	width: 500px;
	text-align: center;
	position: relative;
}

.container .input-group {
	width: 134px;
	height: 134px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 149px;
	opacity: 0;
}

.container .input-group .btn-file {
	width: 134px;
	height: 134px;
}

.file-input {
	overflow-x: auto;
}

.file-loading {
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	font-size: 999px;
	text-align: right;
	color: #fff;
	background: transparent url('../img/loading.gif') top left no-repeat;
	border: none;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	text-align: right;
	opacity: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	background: none repeat scroll 0 0 transparent;
	cursor: inherit;
	display: block;
}

.file-caption .glyphicon {
	display: inline-block;
	min-width: 18px;
	float: left;
	margin-top: 2px;
}

.file-caption-name {
	display: inline-block;
	overflow: hidden;
	max-height: 20px;
	padding-right: 10px;
	word-break: break-all;
}

.file-caption-ellipsis {
	position: absolute;
	right: 10px;
	margin-top: -6px;
	font-size: 1.2em;
	display: none;
	font-weight: bold;
	cursor: default;
}

.kv-has-ellipsis .file-caption-ellipsis {
	display: inline;
}

.kv-has-ellipsis {
	padding-right: 17px;
}

.kv-search-container .kv-search-clear {
	position: absolute;
	padding: 10px;
	right: 0px;
}

.file-error-message {
	background-color: #f2dede;
	color: #a94442;
	text-align: center;
	border-radius: 5px;
	padding: 5px;
}

.file-error-message pre,
.file-error-message ul {
	margin: 5px 0;
	text-align: left;
}

.file-caption-disabled {
	background-color: #EEEEEE;
	cursor: not-allowed;
	opacity: 1;
}

.file-input .btn[disabled],
.file-input .btn .disabled {
	cursor: not-allowed;
}

.state-company .file-preview {
	width: 134px;
	height: 134px;
	border: 1px solid #ddd;
	background: url(../images/C_scyy.jpg) no-repeat;
	overflow: hidden;
}

.file-preview-frame {
	display: table;
	width: 134px;
	height: 134px;
	overflow: hidden;
	background: #fff;
}

.file-preview-frame:hover {
	box-shadow: 3px 3px 5px 0px #333;
}

.file-preview-image {
	height: 160px;
	vertical-align: text-center;
}

.file-preview-text {
	width: 160px;
	color: #428bca;
	font-size: 11px;
	text-align: center;
}

.file-preview-other {
	padding-top: 48px;
	text-align: center;
}

.file-preview-other i {
	font-size: 2.4em;
}

.file-other-error {
	width: 100%;
	padding-top: 30px;
	text-align: right
}

.file-input-new .file-preview,
.file-input-new .close,
.file-input-new .glyphicon-file,
.file-input-new .fileinput-remove-button,
.file-input-new .fileinput-upload-button,
.file-input-ajax-new .fileinput-remove-button,
.file-input-ajax-new .fileinput-upload-button {
	display: none;
}

.loading {
	background: transparent url('../img/loading.gif') no-repeat scroll center center content-box !important;
}

.wrap-indicator {
	font-weight: bold;
	color: #245269;
	cursor: pointer;
}

.file-actions {
	text-align: left;
}

.file-footer-buttons {
	float: right;
}

.file-thumbnail-footer .file-caption-name {
	padding-top: 4px;
	font-size: 11px;
	color: #777;
}

.file-upload-indicator {
	padding-top: 2px;
	cursor: default;
}

.file-upload-indicator:hover {
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 0;
}

.file-drop-zone {
	text-align: center;
	vertical-align: middle;
}

.file-drop-zone-title,
.fileinput-remove {
	display: none;
}

.highlighted {
	border: 2px dashed #999 !important;
	background-color: #f0f0f0;
}

.file-uploading {
	background-image: url('../img/loading-sm.gif');
	background-position: center bottom 10px;
	background-repeat: no-repeat;
	opacity: 0.6;
}

.file-icon-large {
	font-size: 1.2em;
}

.container-Member.close {
	display: none;
}

.container-Member {
	width: 110px;
	height: 110px;
	float: left;
	background: #fbfbfb;
	position: relative;
}

.container-Member .form-group-box {
	width: 110px;
	height: 110px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.container-Member .form-group {
	position: relative;
}

.container-Member .file-drop-zone-title,
.container-Member .fileinput-upload-button,
.container-Member .kv-fileinput-caption {
	display: none;
}

.container-Member .file-drop-zone .file-preview-frame,
.container-Member .Personal-image {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	display: block;
	border: 2px solid #ddd;
}

.container-Member .file-drop-zone .file-preview-frame:hover {
	box-shadow: none;
}

.container-Member .btn-primary {
	width: 110px;
	height: 110px;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
}

.add-img {
	margin-left: 130px;
}

.add-img .add-img-a {
	border: 2px solid #ddd;
}

.add-company .container-Member {
	position: relative;
}

.add-company .file-preview {
	width: 108px;
	height: 108px;
	background: none;
	border: 0px
}

.add-img-a,
.add-company .file-preview-frame .file-preview-image {
	width: 108px;
	height: 108px;
	border-radius: 108px;
}

.add-company .container-Member .btn-primary {
	top: -130px;
	opacity: 0;
}

.Upload_01 {
	width: 670px;
	margin: 70px auto 80px auto;
	color: #666;
}

.Upload_01 .container {
	margin: 50px auto 30px auto;
}

.Upload_01 .container .form-group {
	width: 136px;
	height: 136px;
	background: url(../../pics/qbzz/C_scyy.jpg) no-repeat;
	position: relative;
}

.Upload_01 .container .input-group {
	width: 136px;
	height: 136px;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.Upload_01 .container .fileinput-upload-button,
.Upload_01 .container .kv-fileinput-caption,
.Upload_01 .container .file-thumbnail-footer {
	display: none;
}

.Upload_01 .container .file-preview {
	width: 136px;
	height: 136px;
	overflow: hidden;
}

.Upload_01 .container .file-preview .file-preview-frame {
	width: 136px;
	height: 136px;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid #ddd;
}

.Upload_01 .file-preview .file-preview-frame img {
	width: 134px;
	height: 134px;
}

.Upload_01 .img_01 {
	width: 136px;
	height: 136px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.Upload_01 .span_color_02 {
	color: #db4d00;
	text-align: center;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}

.Upload_01 .form-group_01 {
	margin: 30px 0 0 40px;
}

.Upload_01 .form-group_01 label {
	width: 100px;
	font-weight: normal;
	text-align: right;
}

.Upload_01 .form-group_01 input,
.Upload_01 .form-group_01 textarea {
	width: 400px;
	height: 40px;
	line-height: 40px;
	border-radius: 0px;
	color: #999;
	border: 1px solid #ddd;
}

.Upload_01 .form-group_01 li {
	margin-bottom: 15px;
}

.Upload_01 .form-group_01 textarea {
	height: 100px;
	vertical-align: middle;
}

.Upload_01 .modal-footer {
	margin-top: 50px;
	text-align: center;
	padding-top: 30px;
}

.Upload_01 .modal-footer button {
	margin: 0 5px;
}

.Upload_01 p {
	overflow: hidden;
}

.Upload_01 p i {
	background-position: -395px -509px;
	float: left;
	vertical-align: top;
}

.Upload_01 p span {
	width: 600px;
	display: block;
	float: left;
	line-height: 24px;
}