body {background-color: #e9e9f4;}
.claimContent {width: 1200px;background-color: #FFFFFF;box-sizing: border-box;margin: 0 auto;}

.applyStep {padding-left: 100px;}
.applyStep li {float: left;text-align: center;padding: 30px 10px;}
.applyStep .orderline {padding: 40px 10px;}
.applyStep li p {line-height: 30px;font-size: 14px;}

.endorsement-title {position: relative;padding: 0 30px;font-size: 16px;color: #35313f;background: #f7f7f9;line-height: 50px;text-align: left;font-weight: bold;}
.titl_num {font-size: 14px;margin-left: 70px;}
.stateTips {/*position: absolute;top: 12px;left: 400px;z-index: 9;*/cursor: pointer;width: 85px;font-size: 12px;height: 25px;color: #524ae7;line-height: 25px;text-align: center;background: url(../img/zhuangtai.png) no-repeat;float: left;margin: 13px 80px 0 80px;}
.endorsement-top {margin-bottom: 30px;}
.policyNum {margin-right: 120px;}
.policyDate {margin-left: 50px;}
.contents-ul_right .applyNum {width: 420px;margin-bottom: 0;}

/*.contents-ul{padding: 0 30px;}*/
.contents-ul>li{margin-bottom: 20px;} 
#datetimepicker1 {background: url(../img/data.png) no-repeat right center;border: 1px solid #ebebf5;cursor: pointer;}
.contents-ul_left{width:110px;float:left;height:30px;margin-left: 30px;}
.contents-ul_left span{float:right;line-height: 30px;}
.right_claimSpan {float: left;width: 100px;height: 30px;text-align: center;border:1px solid #e9e9f4;border-radius: 4px;display: inline-block;}
.right_claim .input-prices {margin-left: 12px;margin-bottom: 0;height: 23px;width: 260px;line-height: 23px;border: 1px solid #ebebf5;}
.right_claim .Validform_checktip {margin-left: 10px;}
.prices-right{float:left;}
.applyTxt {line-height: 30px;margin-bottom: 10px;}
.applyTxt a {color: #524AE7;}
.applyTxt a:hover {text-decoration: underline;}
.contents-ul_left strong{font-weight: normal;}
.contents-ul_right .accessory_input{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;border-radius: 4px;width:452px;height:30px;float:left;border: 1px solid #e9e9f4;box-sizing: border-box;line-height: 30px;padding:0px 10px;}
.contents-ul_right input[type="file"]{cursor: pointer;width: 116px;height: 30px;position:absolute;opacity: 0;top:0;left:0;}
.contents-ul_right label {margin:0;cursor: pointer;margin-left:20px;display: inline-block;width: 80px;height: 28px;line-height: 28px;text-align: center;position:relative;border: 1px solid #727689;color:#727689;border-radius: 3px;}
.reduce{position:absolute;top: 2px;right: 0;cursor: pointer;width:26px;height:26px;background: url(../img/reduce.png) no-repeat;}
.add-load p{float:left;line-height:26px;margin-left:210px;margin-right: 12px;}
.add-load .add-pic,.add-pic2{cursor: pointer;background: url(../img/add.png) no-repeat;width:26px;height:26px;float:left;}
.upload_content_bottom{width:555px;display:none;position: relative;margin: 10px 0;background: #e9e9f4;color: #35313f;height: 20px;line-height: 20px;}
.speed{width:50%;height: 100%;color: #fff;background: #524ae7;position: absolute;top: 0;left: 0;overflow: hidden;}
.speed p {width: 500px;height: 36px;}
.percentage {position: relative;margin: 10px 0;height: 20px;line-height: 20px;display: none; }
.contents-ul_left img{float:right;margin: 10px 3px 0 0;}
.contents-ul_right{float:left;margin-left: 10px;width:600px;color:#727689;position:relative;}
.contents-ul_right>span{line-height: 30px;color:#35313f;}
.contents-ul_right .Validform_checktip{color:red;padding-left: 10px;}
.contents-ul_right textarea{resize: none;width:100%;height:180px;padding:5px 10px;line-height: 24px;border: 1px solid #e9e9f4;box-sizing: border-box;}
.textarea-error {margin-bottom: 20px;}
.textarea-error .Validform_checktip{position:absolute;bottom:-30px;left:0;}
.step{border-top:1px solid #e9e9f4;margin-top: 20px;}
.step li{margin-top: 20px;}
.step-left{margin-right: 50px;}

.last_end{padding:50px 0 100px 0;}
.last_end .nexts,.last_end .cancelApply{margin-left: 300px;width:120px;height:38px;line-height: 38px;text-align: center;color:#fff;background: #524ae7;font-size: 16px;display:inline-block;border-radius: 3px;}
.last_end .nexts:hover {text-decoration: none;}
.last_end .unclick {color: #afafbb;background: #e9e9f4;}

.text-max{width: 110px;position: absolute;top: 185px;right: 0;color: #727689;}
.text-max span{color: red;font-weight: bold;margin: 0 5px;}



.claimDetail {padding-top: 20px;}
.claimDetail .endorsement-title {margin: 20px 0;padding-left: 56px;}
.claimDetail li {margin-bottom: 9px;}
.contents-ul_right .applyNum_checktip {display: block;line-height: 24px;padding-left: 6px;}
.instruction_apply {line-height: 30px;color: #35313f;}
.contents-ul>.border_li {padding-bottom: 16px;margin-bottom: 10px;border-bottom: 1px solid #000000;}
.stateContain {padding: 10px 40px;line-height: 30px;}
.stateDate {margin-right: 20px;}
.last_end .modifyApply {margin-left: 200px;}
.last_end .cancelApply {margin-left: 100px;}

.last_end .confirmApply {margin-left: 120px;}
.last_end .modifyApply2 {margin-left: 60px;}
.last_end .cancelApply2 {margin-left: 60px;}

.attachment {display: block;line-height: 30px;color: #524AE7;}
.attachment:hover {text-decoration: underline;color: #524AE7;}

.confirmRight {width: 800px;margin-bottom: 10px;}
.confirmRightTips {font-size: 12px;}
.contents-ul>.accessory_li2 {margin-bottom: 20px;}
/*.claimDetail .accessory_li {margin-top: 50px;}*/
.redTxt {color: red;}

.claimTitle {float: left;}
