/*头部*/
#header {
	position: relative;
	width: 100%;
    background: #fff;
	/*box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0px 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 4px 2px rgba(0, 0, 0, 0.1);*/
    z-index: 10;
}
.header_right_top ul li:hover .img {display: block;}
.product_cont {
	width: 760px;
    padding: 10px 0 0 109px;
}
#header a:hover {text-decoration: none;}
/*.fix ul li{height: 95px;}*/
.newinsure{
	color: red;
	font-weight: bold;
}

/*底部*/
.version {
	color: #eaecf9;
    line-height: 35px;
    padding: 10px 0;
    font-size: 16px;
}
.version a{color: #eaecf9;}


/*内容*/
.main {
	background: #da251c;
	min-width: 1200px;
}
.clear {clear: both;}



.active-ad {
	width: 100%;
	height: 1041px;
}
.active-ad img{
	width: 100%;
	height: 100%;
}


.main-top{
	width: 100%;
	background: #fdeee9;
}
.acitve-service {
	margin: 0 auto;
	height: 330px;
	/*padding: 65px 120px 0 120px;*/
}
.service-divl {
	float: left;
    width: 36%;
    min-width: 430px;
    text-align: right;
    margin-right: 4%;
}
.service-divl img {width: 400px;}
.service-divr {
	float: left;
    width: 685px;
    color: #35313f;
    line-height: 30px;
}
.service-divr p {
	font-size: 20px;
	line-height: 35px;
}
.service-divr span {
	font-size: 16px;
}

.active-receive {
	background: #da251c;
	margin: 0 auto;
}
.receive-titl {
	font-size: 28px;
	color: #fff;
	text-align: center;
	padding-top: 48px;
	padding-bottom: 35px;
}
.receive-content {
	width: 1200px;
	margin: 0 auto;
}
.receive-divl {
	width: 500px;
    height: 140px;
    line-height: 40px;
    float: left;
    color: #35313f;
    font-size: 24px;
    border-radius: 18px;
    padding: 10px 26px;
    margin-left: 230px;
    background-color: #e87877;
}
.receive-divr {
	width: 180px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    float: left;
    font-size: 28px;
    color: #fabc2d;
    background-color: #6c0c27;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 5px #4b0b09;
    -moz-box-shadow:0px 10px 5px #4b0b09;
    -webkit-box-shadow:0px 10px 5px #4b0b09;
}
.active-people {
	text-align: center;
	margin-top: 30px;
}
.active-people img {
	width: 800px;
}


.active-rule {
	margin: 110px 200px 0 200px;
	padding-bottom: 40px;
}
.active-rule .C_layout{
	height: 35px;
    color: #fff;
    font-size: 32px;
    line-height: 30px;
    border-left: 6px solid #f8b551;
    padding-left: 12px;
}
.active-rule p {color: #35313f;}
.active-rule .p1 {
	font-size: 28px;
    margin-top: 25px;
}
.active-rule .p2 {
	font-size: 25px;
	margin-top: 45px;
    margin-bottom: 10px;
}
.active-rule .p3 {
	font-size: 16px;
	color: #f8b551;
}
#p4 {
	display: inline-block;
}
.active-rule .p4 {
	font-size: 15px;
	line-height: 35px;
	margin-top: 38px;
	color: #f8b551;
}
.active-rule .tiaok {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 0 5px 1px 5px;
	border-bottom: 1px solid #fff;
}
.active-rule .tiaok a:hover {text-decoration: none;}
.active-rule span {color: #f8b551;}
.active-rule .bold {
	font-weight: bold;
	font-size: 15.3px;
}



.active-box {
	display: none;
}

.active-box .modal-body {
	height:650px;
	overflow-y: scroll;
}
.active-box .success-tip{
	height: 230px;
	
}

.active-box h3 {
	border-bottom: 1px solid #ddd;
	font-size: 16px;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

.active-box b {
	border: 1px solid #ddd;
	background: #fff;
	padding: 0 20px;
	overflow: hidden;
	cursor: pointer;
	line-height: 30px;
	display: inline-block;
	font-weight: normal;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}

.active-box h3 span {
	color: #ff8017;
	font-size: 14px;
}

.active-box .modal-body {
	padding: 0px 50px 0px 50px;
}

.active-box .modal-dialog {
	width: 600px;
	border-radius: 10px;
	background: #fff;
	border: 3px solid red;
	margin: 0 auto;
	padding-bottom: 0px;
}

.active-box .modal-header {
	/*background: #f8f8f8;*/
	position: relative;
	border-bottom: 0px;
	border-radius: 10px;
}

.active-box .modal-content {
	box-shadow: 0px;
	border-radius: 10px;
	overflow: hidden;
}

.active-box li {
	margin: 15px 0;
	overflow: hidden;
}

.active-box input {
	width: 300px;
	height: 30px;
	border: 1px solid #ddd;
	padding-left: 10px;
	float: left;
}

.active-box label {
	color: #666;
	font-weight: normal;
	display: block;
	width: 80px;
	float: left;
	line-height: 44px;
	text-align: right;
	padding-right: 5px;
	margin-right: 15px;
}

.active-box .btn,
.add-people-box .btn {
	background: #da251c;
	border-radius: 0px;
	color: #fff;
	width: 135px;
	height: 45px;
}

.active-box .submit-btn {
	margin-bottom: 40px;
}

.add-people-box .btn {
	width: 100px;
	background: #ff8017;
	height: 40px;
}

.active-box .modal-header .close {
	width: 46px;
	height: 45px;
	background: url(../../pics/active2.0/close.png) no-repeat;
	opacity: 1;
	filter: alpha(opacity=100);
	position: absolute;
	right: -20px;
	top: -15px;
	cursor: pointer;
}

.active-box .modal-header .close:hover {
	color: #da251c;
}

.active-box .Validform_right {
	display: none;
}

.active-box .modal-body em,
.active-box .Validform_wrong,
.add-people-box ul label em,
.add-people-box ul li .Validform_wrong {
	color: #ff8017;
	margin-right: 5px;
}

.active-box .Validform_wrong {
	line-height: 40px;
	margin-left: 5px;
}

.active-box .mobile {
	width: 185px;
	float: left;
}

.active-box .code-btn {
	float: left;
	background: #ddd;
	color: #666;
	width: 110px;
	height: 40px;
	line-height: 25px;
	margin-left: 5px;
}

.active-box table {
	border-left: 1px solid #ddd;
}

.active-box table td,
.active-box table th {
	border-bottom: 1px solid #ddd;
	text-align: center;
	font-weight: normal;
	border-right: 1px solid #ddd;
}

.active-box table td.width30 {
	width: 30%;
}

.active-box table td.width50 {
	width: 50%;
}

.active-box table td.width20 {
	width: 20%;
}

.active-box table td a:hover {
	color: #da251c;
}

.active-box .modal-backdrop {
	display: none;
}

.active-box .success-tip {
	text-align: center;
}

.active-box .success-tip {
	color: #999;
}

.active-box .success-tip i {
	color: #ff8017;
	font-size: 55px;
}

.active-box .success-tip span {
	font-size: 22px;
	line-height: 40px;
	color: #333;
}

.add-people-box {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.add-people-box div {
	margin: 200px auto 0 auto;
	width: 300px;
	background: #fff;
	border: 3px solid #da251c;
	border-radius: 10px;
}

.add-people-box div h3 {
	background: #da251c;
	margin: 0px;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
	padding-left: 10px;
}

.add-people-box ul {
	padding: 15px;
}

.add-people-box ul li {
	margin-bottom: 15px;
}

.add-people-box ul label {
	display: block;
	color: #666;
	font-weight: normal;
}

.add-people-box ul input {
	width: 260px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #ddd;
	padding-left: 10px;
}

.add-people-box h3 {
	position: relative;
}

.add-people-box h3 span {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}

/***弹出框***/

.state-box {
	width: 100%;
	height: 100%;
	z-index:60;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0px;
	left: 0px;
	padding-top: 100px;
}

.state-box .modal-dialog {
	width: 700px;
	background: #fbfbfb;
}

.state-box .modal-content {
	box-shadow: none;
	border: 0px;
	border-radius: 0px;
	background: #fbfbfb;
}

.state-box .modal-header {color: #fff;}

.state-box .modal-header button {
	color: #fff;
	font-size: 26px;
}

.state-box .modal-header button:hover {
	color: #c1d8f0;
}

.state-box .modal-title i {
	background-position: -158px -51px;
}

.state-box .modal-body {
	padding: 35px 50px 0 50px;
}

.state-box .Process {
	width: 508px;
	height: 6px;
	background: #c5c5c5;
	margin-left: 50px;
	position: relative;
}

.state-box .Process li:first-child {
	width: 344px;
	background: url(../images/process.png) no-repeat;
	height: 58px;
	position: absolute;
	left: -26px;
	top: -14px;
}

.state-box .Process li.Process-statu {
	width: 290px;
	position: absolute;
	left: 255px;
	top: -12px;
	text-align: right;
}

.state-box .Process li.Process-statu span {
	width: 31px;
	height: 31px;
	background: #a9a9a9;
	display: inline-block;
	line-height: 31px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border-radius: 31px;
	margin-right: 20px;
	z-index: 99;
}

.state-box .Process li.Process-statu p {
	color: #666;
	line-height: 34px;
	margin-right: 5px;
}

.modal-content .modal-footer {
	border-top: 0px;
}

.state-box li.Process-statu .Process-line {
	width: 230px;
	height: 6px;
	background: #c5c5c5;
	margin: -63px 0 0 36px;
	z-index: 0;
}

.state-box li.Process-bj .Process-line {
	background: #0794cf;
}

.state-box .Process li.Process-bj span {
	background: #07afd9;
}

.state-box .contact {
	margin-top: 80px;
	margin-left: 20px;
	color: #666;
}

.state-box .contact p.font-color {
	color: #ff7e00;
}

.state-box .modal-footer {
	text-align: left;
	padding-left: 70px;
}

.state-company .modal-body {
	color: #666;
	line-height: 24px;
}

.state-company .modal-body .form-group {
	margin-bottom: 15px;
}

.state-company .modal-body label {
	width: 70px;
	font-weight: normal;
}

.state-company .modal-body input {
	width: 422px;
	line-height: 40px;
	border: 1px solid #ddd;
	border-radius: 0px;
	height: 40px;
}


.Prompt-font {
	text-align: center;
}

.state-company .modal-body .textarea {
	width: 480px;
	height: 120px;
	border: 1px solid #ddd;
	vertical-align: middle;
}

.state-company .modal-footer {
	padding-left: 125px;
}