body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, button, p, blockquote, th, td{margin: 0;padding: 0;}
body,html{font-family:"微软雅黑";color: #5c5869;min-width: 1280px;max-width: 4096px;height: 100%;}
a{color: #5c5869;text-decoration: none;}
a:hover{text-decoration: none;}
ol,ul,li{list-style: none;} 
.clear:after{content:"";overflow:hidden;clear:both;display:block;}
textarea{resize: none}
img{border-style: none;}
textarea, input[type="text"], input[type="password"]{box-shadow: none;}
button{border:0;}
.hide{display: none;}
#spinners{float: right;}

@media only screen and (max-width: 4096px) {
	.tc_txt {font-size: 80px;line-height: 181px;}
	.loadTxt,.loadTxt1,.progress_label,.progress_label1 {font-size: 76px;}
	.load-put {font-size: 76px;line-height: 181px;}
	.upload_content_bottom {font-size: 36px;line-height: 46px;border-radius: 10px;}
	.speed,.conts {border-radius: 10px;}
	.load_link {font-size: 84px;}
	.progress_total,.progress_total1,.progress_done,.progress_done1 {border-radius: 20px;}
	.talkCont {border-top:5px solid #7597ff;}
	.talkCont li {font-size: 40px;}
	.leftImg {width: 220px;height: 220px;}
	.sanjiao {top: 35px;}
	.liLeft .sanjiao {border-top: 21px solid transparent;border-right: 42px solid #847fe9;border-bottom: 21px solid transparent;}
	.liRight .sanjiao{border-top: 21px solid transparent;border-left: 42px solid #eeeeff;border-bottom: 21px solid transparent;}
	.audio_contain {width: 49.19%;}
	.mop-load-div{float: right;margin-left: 14px;}
}
@media only screen and (max-width: 3840px) {
	.tc_txt {font-size: 70px;line-height: 181px;}
	.loadTxt,.loadTxt1,.progress_label,.progress_label1 {font-size: 66.5px;}
	.load-put {font-size: 66.5px;line-height: 181px;}
	.upload_content_bottom {font-size: 32px;line-height: 46px;border-radius: 6px;}
	.speed,.conts {border-radius: 6px;}
	.load_link {font-size: 70px;}
	.progress_total,.progress_total1,.progress_done,.progress_done1 {border-radius: 10px;}
	.talkCont {border-top:2px solid #7597ff;}
	.talkCont li {font-size: 40px;}
	.leftImg {width: 200px;height: 200px;}
	.sanjiao {top: 36px;}
	.liLeft .sanjiao {border-top: 18px solid transparent;border-right: 38px solid #847fe9;border-bottom: 18px solid transparent;}
	.liRight .sanjiao{border-top: 18px solid transparent;border-left: 38px solid #eeeeff;border-bottom: 18px solid transparent;}
	.talk_left .madeTxt {margin-left: -100px;}
	.madeTxt {font-size: 30px;margin-left: -50px;}
	.audio_contain {width: 52.47%;}
	.mop-load-div{float: right;margin-left: 10px;}
}
@media only screen and (max-width: 1920px) {
	.tc_txt {font-size: 32px;line-height: 81px;}
	.loadTxt,.loadTxt1,.progress_label,.progress_label1 {font-size: 30px;}
	.load-put {font-size: 30px;line-height: 81px;}
	.upload_content_bottom {font-size: 16px;line-height: 24px;border-radius: 3px;}
	.speed,.conts {border-radius: 3px;}
	.load_link {font-size: 35px;}
	.progress_total,.progress_total1,.progress_done,.progress_done1 {border-radius: 5px;}
	.talkCont {border-top:1px solid #7597ff;}
	.talkCont li {font-size: 20px;}
	.leftImg {width: 90px;height: 90px;}
	.sanjiao {top: 11px;}
	.liLeft .sanjiao {border-top: 10px solid transparent;border-right: 21px solid #847fe9;border-bottom: 10px solid transparent;}
	.liRight .sanjiao{border-top: 10px solid transparent;border-left: 21px solid #eeeeff;border-bottom: 10px solid transparent;}
	.madeTxt {font-size: 20px;margin-left: -40px;}
	.talk_left .madeTxt {margin-left: -60px;}
	.audio_contain {width: 49.19%;}
	.mop-load-div{float: right;margin-left: 7px;}
}
@media only screen and (max-width: 1600px) { 
	.tc_txt {font-size: 28px;line-height: 62px;}
	.loadTxt,.loadTxt1,.progress_label,.progress_label1 {font-size: 24px;}
	.load-put {font-size: 24px;line-height: 66px;}
	.upload_content_bottom {font-size: 12px;line-height: 17px;}
	.speed,.conts {border-radius: 2px;}
	.load_link {font-size: 30px;}
	.progress_total,.progress_total1,.progress_done,.progress_done1 {border-radius: 4px;}
	.talkCont li {font-size: 15px;}
	.leftImg {width: 60px;height: 60px;}
	.sanjiao {top: 7px;}
	.madeTxt {font-size: 16px;margin-left: -30px;}
	.talk_left .madeTxt {margin-left: -50px;}
	.mop-load-div{float: right;margin-left: 5px;}
}
@media only screen and (max-width: 1280px) { 
	.tc_txt {font-size: 20px;line-height: 48px;}
	.loadTxt,.loadTxt1,.progress_label,.progress_label1 {font-size: 18px;}
	.load-put {font-size: 18px;line-height: 48px;}
	.upload_content_bottom {font-size: 10px;line-height: 12px;}
	.speed,.conts {border-radius: 2px;}
	.load_link {font-size: 20px;}
	.talkCont li {font-size: 12px;}
	.leftImg {width: 40px;height: 40px;}
	.sanjiao {top: 4px;}
	.madeTxt {font-size: 12px;margin-left: -20px;}
	.talk_left .madeTxt {margin-left: -30px;}
	.mop-load-div{float: right;margin-left: 3px;}
}

.tc_contain {width:100%;height:100%;position: relative;}
.tc_bc {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.audio_contain {height: 48.84%;top: 16.85%;margin: 0 auto;position: relative;}
.audio_contain img {width: 100%;height: 100%;}
.tc_top {width: 72%;height: 8.35%;top:18.26%;position: relative;margin: 0 auto;}
.tc_bottom {width: 38.16%;height: 8.35%;position: relative;top: 24.89%;margin: 0 auto;}
.tc_k1,.tc_k2 {float: left;}
.tc_k4,.tc_k3 {float: right;}
.tc_k {width: 20.53%;height: 100%;position: relative;display: block;}
.tc_bottom .tc_k {width: 39.41%;}
.tc_k img {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.tc_txt {width: 100%;height: 100%;text-align: center;color: #6dd5ff;}
.tc_k3Pic2 {display: none;}
.tc_k3:hover .tc_txt,.browse:hover .tc_txt {text-shadow: 0 0 10px,0 0 20px; -moz-text-shadow:0 0 10px,0 0 20px;-webkit-text-shadow:0 0 10px,0 0 20px;}
.tc_k3:hover .tc_k3Pic,.browse:hover .tc_k3Pic {display: none;}
.tc_k3:hover .tc_k3Pic2,.browse:hover .tc_k3Pic2 {display: inline-block;}

.load_bottom {width: 62.79%;height: 19.72%;position: relative;top: 27%;margin: 0 auto;}
.loadTxt,.loadTxt1 {color: #6dd5ff;margin-left: 0.73%;margin-bottom: 0.49%;}
.load-nub {position: relative;width: 100%;height: 42.35%;}
.load-put {width: 73.29%;height: 100%;ime-mode: disabled;background:url(../img/tc/tc_k4.png) no-repeat;background-size: 100% 100%;padding: 0 2.33%;display: inline-block;color: #72aeff;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;box-sizing: border-box;}
.containerPolicy {overflow: hidden;display: inline-block;margin-left: 1.56%;width: 24.09%;height: 100%;}
.browse {cursor: pointer;display: block;width: 100%;}
.upload_content_bottom {width: 67%;height: 25.75%;position: relative;left: 2.33%;display: none;background: #fff;color: #6dd5ff;padding-left: 1%;}
.speed {color: #fff;background: #0af5f5;position: absolute;top: 0;left: 0;width: 10%;height: 100%;overflow: hidden;padding-left: 1%;}
.load_link {position: relative;top: 23%;margin: 0 auto;width: 100%;height: 5.80%;box-sizing: border-box;padding: 0 2.69%;}
.load_link a {width: 7.32%;height: 100%;}
.load_link img {width: 17.67%;}
.load_link span {position: relative;top: -10.25%;color: #FFFFFF;}
.link_back span {left: 6.67%;}
.link_go span {right: 6.67%;}
.link_back {float: left;display: block;}
.link_go {float: right;display: block;text-align: right;}
.hide {display: none;}

.progress_contain {width: 56.15%;height: 19.72%;position: relative;top: 28%;margin: 0 auto;}
.progress_border,.progress_border1 {width: 100%;height: 42.59%;background-color: #161874;position: relative;}
.progress_border img,.progress_border1 img {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.progress_total,.progress_total1 {width: 97.22%;height: 62.80%;background-color: #FFFFFF;position: relative;top: 19.32%;left: 1.4%;}
.progress_done,.progress_done1 {position: absolute;top: 0;left: 0;height: 100%;background-color: #0af5f5;}
.progress_label,.progress_label1 {position: absolute;top: 50%;left: 50%;margin-top: -2%;margin-left: -4.23%;color: #6dd5ff;}


.talk_left {float: left;width: 43.5%;height: 100%;position: relative;}
.talk_left>img {width: 69.58%;height: 57.73%;position: relative;top: 20.37%;display: block;margin: 0 auto;}
.talk_right {float: right;width: 56.5%;height: 100%;overflow-y: hidden;}
.talkCont {width: 100%;height: 88%;position: relative;margin-top: 12%;box-sizing: border-box;padding: 4%;overflow: auto;}
.talkCont li {margin-bottom: 1%;width: 100%;}
.liLeft {color: #FFFFFF;}
.liLeft .leftImg {float: left;background: url(../img/tc/tc_aimi.png) no-repeat;background-size: 100% 100%;}

.liLeft .sanjiao {left: 1%;}
.liLeft .conts {float: left;background-color: #847fe9;margin-left: 3.26%;}
.liLeft .rightTxt {float: left;}
.liRight {color: #847fe9;}
.liRight .leftImg{float: right;background: url(../img/tc/tc_aimi2.png) no-repeat;background-size: 100% 100%;}
.liRight .sanjiao{right: 1%;}
.liRight .conts {float: right;background-color:#eeeeff;margin-right: 3.26%;}
.liRight .rightTxt {float: right;}
.sanjiao {width: 0;height: 0;position: absolute;}
.leftImg {border-radius: 50%;}
.rightTxt {position: relative;margin-top: 1.3%;width: 76%;}
.conts {max-width: 99.29%;box-sizing: border-box;word-break: break-all;padding: 1.39% 2.5%;}


.audio_contain .video {width: 120%;display: block;position: absolute;top: -12%;left: -12%;border-radius: 50%;}
.talk_left .video {width: 100%;position: relative;top: 0%;margin: 0 auto;border-radius: 50%;}
.talk_left .hide {display: none;}
.madeTxt {color: #FFFFFF;position: absolute;bottom: 0;left: 50%;}



